body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:1px;
  top:1px;
  width:1348px;
  height:59px;
}
#u932 {
  position:absolute;
  left:2px;
  top:22px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u933 {
  position:absolute;
  left:30px;
  top:10px;
  width:40px;
  height:40px;
}
#u934 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u935 {
  position:absolute;
  left:145px;
  top:4px;
  width:241px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:145px;
  top:29px;
  width:155px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u938 {
  position:absolute;
  left:0px;
  top:9px;
  width:155px;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2px;
}
#u939 {
  position:absolute;
  left:0px;
  top:89px;
  width:1348px;
  height:1px;
}
#u940 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:0px;
  top:92px;
  width:1348px;
  height:529px;
  overflow:hidden;
}
#u941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:529px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:530px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:530px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u943 {
  position:absolute;
  left:16px;
  top:257px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u946 {
  position:absolute;
  left:80px;
  top:22px;
  width:73px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u947 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  white-space:nowrap;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u949 {
  position:absolute;
  left:145px;
  top:22px;
  width:284px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u950 {
  position:absolute;
  left:8px;
  top:5px;
  width:268px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u951 {
  position:absolute;
  left:414px;
  top:32px;
  width:8px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u952 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:145px;
  top:72px;
  width:880px;
  height:65px;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u955 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u956 {
  position:absolute;
  left:142px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u958 {
  position:absolute;
  left:289px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u959 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u960 {
  position:absolute;
  left:414px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u962 {
  position:absolute;
  left:561px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u964 {
  position:absolute;
  left:710px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u965 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u966 {
  position:absolute;
  left:0px;
  top:30px;
  width:142px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u967 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u968 {
  position:absolute;
  left:142px;
  top:30px;
  width:147px;
  height:30px;
}
#u969 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u970 {
  position:absolute;
  left:289px;
  top:30px;
  width:125px;
  height:30px;
}
#u971 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u972 {
  position:absolute;
  left:414px;
  top:30px;
  width:147px;
  height:30px;
}
#u973 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u974 {
  position:absolute;
  left:561px;
  top:30px;
  width:149px;
  height:30px;
}
#u975 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u976 {
  position:absolute;
  left:710px;
  top:30px;
  width:165px;
  height:30px;
}
#u977 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u978 {
  position:absolute;
  left:60px;
  top:72px;
  width:93px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u979 {
  position:absolute;
  left:0px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u980 {
  position:absolute;
  left:1057px;
  top:112px;
  width:20px;
  height:20px;
}
#u981 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u982 {
  position:absolute;
  left:1030px;
  top:112px;
  width:20px;
  height:20px;
}
#u983 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:145px;
  top:160px;
  width:738px;
  height:65px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u986 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u987 {
  position:absolute;
  left:147px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u988 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u989 {
  position:absolute;
  left:272px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u990 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u991 {
  position:absolute;
  left:419px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u992 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u993 {
  position:absolute;
  left:568px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u995 {
  position:absolute;
  left:0px;
  top:30px;
  width:147px;
  height:30px;
}
#u996 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u997 {
  position:absolute;
  left:147px;
  top:30px;
  width:125px;
  height:30px;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u999 {
  position:absolute;
  left:272px;
  top:30px;
  width:147px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:419px;
  top:30px;
  width:149px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:568px;
  top:30px;
  width:165px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u1005 {
  position:absolute;
  left:84px;
  top:160px;
  width:69px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:18px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1007 {
  position:absolute;
  left:410px;
  top:112px;
  width:16px;
  height:16px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1009 {
  position:absolute;
  left:534px;
  top:112px;
  width:16px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1011 {
  position:absolute;
  left:686px;
  top:112px;
  width:16px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:830px;
  top:112px;
  width:16px;
  height:16px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:994px;
  top:112px;
  width:16px;
  height:16px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:666px;
  top:502px;
  width:57px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1019 {
  position:absolute;
  left:16px;
  top:6px;
  width:25px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1020 {
  position:absolute;
  left:2px;
  top:60px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1020_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(46, 156, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1020.selected {
}
#u1021 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1022 {
  position:absolute;
  left:449px;
  top:38px;
  width:264px;
  height:22px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u1024 {
  position:absolute;
  left:730px;
  top:42px;
  width:22px;
  height:15px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1026 {
  position:absolute;
  left:770px;
  top:38px;
  width:264px;
  height:22px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u1028 {
  position:absolute;
  left:1044px;
  top:42px;
  width:22px;
  height:15px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1030 {
  position:absolute;
  left:1084px;
  top:38px;
  width:264px;
  height:22px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
